---
// Click button, get confetti!
// Styled by Tailwind :)
interface Props {
	class?: string;
}
const { class: className = "text-white border-white/10 hover:bg-white/10 focus:ring-white/10" } = Astro.props;
---

<button
	class={`appearance-none py-2 px-4 bg-transparent font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75 border ${className}`}
>
	<slot />
</button>


<script>
	import confetti from 'canvas-confetti';
	const button = document.body.querySelector('button');

	if (button) {
		button.addEventListener('click', () => confetti());
	}
</script>
