---
import Button from './Button.astro';
---

<header class="absolute top-0 left-0 right-0 w-full flex items-center justify-between px-4 py-4 md:px-8 z-50">
    <div class="flex-1">
        <p class="font-bold text-xl md:text-2xl text-gray-200">LUMÉ</p>
    </div>
    
    <nav class="hidden md:block flex-1">
        <ul class="flex gap-6 justify-center text-base md:text-lg font-bold text-gray-200">
            <li class="hover:text-purple-600 cursor-pointer transition-colors">Inicio</li>
            <li class="hover:text-purple-600 cursor-pointer transition-colors">Colecciones</li>
            <li class="hover:text-purple-600 cursor-pointer transition-colors">Sobre nosotros</li>
            <li class="hover:text-purple-600 cursor-pointer transition-colors">Contacto</li>
        </ul>
    </nav>
    
    <div class="flex-1 flex justify-end">
        <Button>Contactanos</Button>
    </div>
</header>
