---

---

<section class="relative w-full h-screen flex flex-col justify-end p-4 md:p-8">
  <!-- bottom left -->
  <div
    class="absolute bottom-4 left-4 md:bottom-8 md:left-8 z-10 max-w-xs md:max-w-md lg:max-w-xl mb-32 md:mb-10"
  >
    <div class="">
      <p
        class="text-lg md:text-xl leading-relaxed text-balance font-bold text-gray-200"
      >
        En Lumé creemos que la joyería más poderosa no es la más costosa, es la
        que tiene historia. Cada pieza es creada a mano, con materiales
        cuidadosamente seleccionados y la intención de acompañarte en lo que
        importa.
      </p>
    </div>
  </div>

  <!-- bottom right -->
  <div
    class="absolute bottom-4 right-4 md:bottom-8 md:right-8 z-10 text-right mb-4 md:mb-10"
  >
    <h1
      class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-extrabold tracking-tighter text-gray-100"
    >
      Hecho a mano.
    </h1>
    <h1
      class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-extrabold tracking-tighter text-gray-100 mt-2"
    >
      Hecho para ti.
    </h1>
  </div>
</section>
